/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #74ebd5, #9face6);
    color: #333;
    text-align: center;
  }
  
  header {
    background: rgba(2, 255, 247, 0.6);
    color: white;
    padding: 20px;
  }
  
  main {
    padding: 20px;
  }
  
  #search-section {
    margin: 20px auto;
    display: flex;
    justify-content: center;
  }
  
  #city-input {
    padding: 10px;
    border: 2px solid #ff0385;
    border-radius: 5px;
    width: 300px;
    margin-right: 10px;
  }
  
  #search-btn {
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    border-radius: 5px;
  }
  
  #search-btn:hover {
    background-color: #fc0b73;
  }
  
  #weather-display {
    margin-top: 20px;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(247, 255, 1, 0.899);
    display: inline-block;
  }
  
  #weather-details p {
    margin: 10px 0;
  }
  
  footer {
    background: #333;
    color: white;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  